<!-- views/players/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/players/show.css" />
    <title><%= player.playerName %> </title>
</head>
<%- include('../partials/_navbar.ejs') %>
<body class="show-body">
    <div class="show-container">
        <h1 class="show-header"> <%= player.playerName %></h1>
        <div class="grid">
            <div class="box">
                <p>Player Type: <%= player.playerType %> </p>
                <p>Player Race: <%= player.playerRace %></p>
                <p>Player Class: <%= player.playerClass %></p>
                <p>Player Subclass: <%= player.playerSubclass %></p>
                <p>Player HP: <%= player.playerHP %></p>
                <p>Player Notes: <%= player.playerNotes %></p>
                <div class="submit-container">
                    <div class="actions">
                        <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/players/<%= player._id %>/edit" class="editbtn">Edit <%= player.playerName %></a>
                        <form action="/users/<%= user._id %>/campaigns/<%= campaign._id %>/players/<%= player._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="deletebtn"> Delete <%= player.playerName %> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>