<!-- views/campaigns/show.ejs-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/campaign/show.css" />
    <title>
        <%= campaign.campaignName %>
    </title>
</head>
<%- include('../partials/_navbar.ejs') %>
<body class="campaign-body">
    <h1 class="header">
        <%= campaign.campaignName %> Campaign
    </h1>
    <div class="campaign-body-div">
        <h2>Players</h2>
        <ul class="item-list">
            <% if (campaign.players.length> 0) { %>
                <% campaign.players.forEach((player)=> { %>
                    <li class="item-list-li">
                        <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/players/<%= player._id %>">
                            <%= player.playerName %> (<%= player.playerType %>)
                        </a>
                        <div class="item-actions">
                            <form
                        action="/users/<%= user._id %>/campaigns/<%= campaign._id %>/players/<%= player._id %>?_method=DELETE"
                        method="POST" style="display:inline">
                        <button type="submit">Delete Player</button>
                         <a
                        href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/players/<%= player._id %>/edit">Edit</a>
                            </form>
                        </div>
                    </li>
                    <% }) %>
                        <% } else { %>
                            <li>No Players added yet</li>
                            <% } %> <br>
                                <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/players/new" class="add-new">Add New
                                    Player</a>
        </ul>
    </div>
    <div class="campaign-body-div">
        <h2>Encounters</h2>
        <ul class="item-list">
            <% if (campaign.encounters.length> 0) { %>
                <% campaign.encounters.forEach((encounters)=> { %>
                    <li class="item-list-li"><a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/encounters/<%= encounters._id %>">
                            <%= encounters.encounterName %> Encounter
                        </a>
                        <div class="item-actions">
                        <form
                            action="/users/<%= user._id %>/campaigns/<%= campaign._id %>/encounters/<%= encounters._id %>?_method=DELETE"
                            method="POST" style="display:inline">
                            <button type="submit">Delete Encounter</button>
                        </form>
                        <a
                            href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/encounters/<%= encounters._id %>/edit">Edit</a>
                        </div>
                    </li>
                    <% }) %>
                        <% } else { %>
                            <li>No Encounters added yet</li>
                            <% } %> <br>
                                <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/encounters/new" class="add-new">Add New
                                    Encounter</a>
        </ul>
    </div>
    <div class="campaign-body-div">
        <h2>Session Notes</h2>
        <ul class="item-list">
            <% if (campaign.sessionNotes.length> 0) { %>
                <% campaign.sessionNotes.forEach((sessionNote)=> { %>
                    <li class="item-list-li">
                        <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/notes/<%= sessionNote._id %>">Session
                            <%= sessionNote.sessionNumber %>
                        </a>
                        <div class="item-actions">
                            <form action="/users/<%= user._id %>/campaigns/<%= campaign._id %>/notes/<%= sessionNote._id %>?_method=DELETE" method="POST" style="display:inline">
                                <button type="submit">Delete</button>
                            </form>
                            <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/notes/<%= sessionNote._id %>/edit">Edit</a>
                        </div>
                    </li>
                    <% }) %>
                        <% } else { %>
                            <li>No session notes added yet</li>
                            <% } %> <br>
                                <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/notes/new" class="add-new">Add Session
                                    Note</a>
        </ul>
    </div>
    <form action="/users/<%= user._id %>/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= campaign.campaignName %> Campaign</button>
    </form>
</body>

</html>
