<!-- views/notes/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sessionNotes/show.css" />
    <title>Session <%= sessionNote.sessionNumber %> Notes</title>
</head>
<%- include('../partials/_navbar.ejs') %> 
<body class="show-body">
    <div class="show-container">
        <h1 class="header">Session <%= sessionNote.sessionNumber %> Notes</h1>
        <div class="grid">
            <div class="box">
                <p><%= sessionNote.sessionDetails %></p>
                <div class="submit-container">
                    <div class="actions">
                        <a href="/users/<%= user._id %>/campaigns/<%= campaign._id %>/notes/<%= sessionNote._id %>/edit">Edit Session <%= sessionNote.sessionNumber %> Notes</a>
                        <form action="/users/<%= user._id %>/campaigns/<%= campaign._id %>/notes/<%= sessionNote._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="submitbtn"> Delete Session <%= sessionNote.sessionNumber %>  Notes </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>