<!-- views/encounters/edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/encounters/edit.css" />
    <title>Edit Encounter <%= encounter.encounterName %></title>
</head>
<%- include('../partials/_navbar.ejs') %>
<body class="edit-body">
    <div class="edit-container">
        <h1 class="header"> Edit Encounter <%= encounter.encounterName %></h1>
        <form action="/users/<%= user._id %>/campaigns/<%= campaign._id %>/encounters/<%= encounter._id %>?_method=PUT" method = "POST" class="form">
            <div class="edit-grid">
                <div class="edit-box">
                    <label for="encounterName">Encounter Name:</label>
                    <input type="text" name="encounterName" id="encounterName" value="<%= encounter.encounterName %>" />
                    <label for="encounterDetails">Encounter Details:</label>
                    <textarea name="encounterDetails"><%= encounter.encounterDetails %></textarea>
                </div>
            <div class="submit-container">
                <button type="submit" class="submitbtn">Update Encounter <%= encounter.encounterName %> !</button>
            </div>
        </form> 
    </div>
</body>
</html>